
<div id="overlay"></div>

<div id="login_box">
    <h1 id="title">Welcome to Twotter!</h1>
    <div id="facebook_button_container">
        <form action="/auth/facebook" method="get">
            <input class="button" type="submit" value="Login with facebook" name="Submit" id="facebook_login" />
        </form>
    </div>
</div>

<script type="text/javascript" src="javascripts/login.js"></script>
